// .main{
//     display: flex;

//     flex-direction: column;
//     align-items: center;
//     justify-content: space-evenly;
//     height: 80.6vh;
// }

// .container{
//     border: solid;
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
//     height: 80%;
//     width: 100%;
// }