.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    section{
        //border: solid;
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 900px;

        img {
            width: 300px;
            border: 5px solid #00aaff;
            border-radius: 50%;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 15px;

            li {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                font-family: 'Inter', sans-serif;
            }
        }
    }
}

.div{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-size: 16px;
        color: #278733;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
    }

    p {
        font-size: 15px;
        font-family: 'Inter', sans-serif;
    }

    .listaSkislls li {
        font-size: 12px;
        color: #278733;
        background-color: #D4E7D6;
        border-radius: 10px;
        padding: 8px 10px;

    }
}

@media (max-width: 768px) {
    .main{
        section {

        //display: flex;
        flex-direction: column;
        text-align: center;
        

            .ulInfo {
                flex-direction: column;
            }

            .listaSkislls {
                justify-content: center;
                align-items: center;
                margin: 10px;
                
                
                li {
                    font-size: 10px;
                }
                
                
            }
        }


        
       
    }
}