.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 81vh;
    padding: 0 20px;

    h1 {
        font-family: 'Soucer Sans 3', sans-serif;
        font-size: 60px;
        font-weight: bold;
        color: #205691;
    }
}

.container{
    display: flex;
    justify-content: space-around;
    column-gap: 5px;
    width: 100%;

    article{
       // border: solid 1px red;
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    article:not(:last-child) {
        border-right: 1px solid #cbcbcb;
    }
}

@media (max-width: 768px) {
    .main{
        height: 160vh;
        padding: 30px;

        h1 {
            font-size: 40px;
        }

        section{
            flex-wrap: wrap;
            gap: 10px;

            article{
                min-width: 252px;
                margin: 5px;
            }

                article:not(:last-child) {
         border-right: none;
         border-bottom: 1px solid #cbcbcb;
           }
        }
    }
}

@media (max-width: 460px) {

    
    .main {
        align-items: center;

        h1 {
            font-size: 29px;
        }
    }


    section {
        article:not(:last-child) {
        border-right: none;
        //border-bottom: 1px solid #cbcbcb;    
        
    }

}
}